.about-s {
    min-height: 100vh;
    width: 100%;
    padding: 80px 0;
    background-color: #B23438;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.about-s h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ff0000;
}

.about-s p {
    font-size: 1.3rem;
    line-height: 1.4;
    color: #ffffff;
    font-weight: bold;
}