.menu-section {
    /* background-color: #e7a945; */
    background-color: #B23438;
}

.menu-section h2 {
    margin-top: 5%;
    color: #d84315;
    font-size: 2.5rem;
    font-weight: bold;
}

.menu-card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 12px;
    transition: transform 0.2s ease;
}

.menu-card:hover {
    transform: scale(1.03);
}

.menu-card .price {
    font-size: 1.2rem;
    font-weight: 600;
    color: #2e7d32;
}

.menu-card img {
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}